<h1>Edit Question</h1>
<%= render 'form' %>

<h2>Goods</h2>
<%= render :partial => 'admin/goods', :object => @question.goods %>
<%= link_to 'New Good', new_question_good_path(@question), :class => 'btn btn-primary' %> 

<div style="padding-top:40px">
<%= link_to 'Back', questions_path %>
</div>
