<h1><%= @question.name %></h1>
<p><%= render @question %></p>

<div id="timer">
</div>
<div class="row" style="padding-top: 40px;">
  <div class="span1">
  </div>
  <%= @question.first? ? link_to('<<Back', previous_path(@question)) : "<<Back" %>
  <%= link_to 'Next>>', end_question_path(@question), :class => "offset1", :method => :post, :id => 'end' %>
</div>




