<h1>Listing Questions</h1>

<%= render :partial => 'admin/questions', :object => @questions %>
<%= link_to 'New Question', new_survey_question_path(@survey), :class => 'btn btn-primary' %> <br /><br />

<div style="padding-top: 40px;">
  <%= link_to 'Back', edit_survey_path(@survey) %>
</div>