<table class="table table-striped">
  <thead class="row">
  <tr>
    <th>Name</th>
    <th>Goods</th>
    <th>\(\lambda\)</th>
    <th>Value</th>
    <th>Utility</th>
    <th></th>
  </tr>
  </thead>

  <tbody class="row">
  <%= render :partial => 'admin/bundle', :collection => bundles %>
  </tbody>
</table>