<tr>
  <td><%= link_to question.content, survey_question_path(question.survey, question) %></td>
  
  <td><%= link_to 'Edit', edit_survey_question_path(question.survey, question), :class => 'btn btn-mini btn-success' %>
      <%= link_to 'Destroy', survey_question_path(question.survey, question), :method => :delete, 
                                       :confirm => "Are you sure?", 
                                       :class => 'btn btn-mini btn-danger'%></td>
</tr>