<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  
  <tbody>
  <%= render :partial => 'admin/question', :collection => questions %>
  </tbody>
</table>