<%= content_for :header do %>
  <h1>Combos</h1>
<% end %>

<%= content_for :content do %>
  <%= link_to "Choosing combo when should not", statistics_combo_path(:choosing_combo_when_should_not) %><br>
  <%= link_to "Not choosing combo when should", statistics_combo_path(:not_choosing_combo_when_should) %><br>
<% end %>