<h1>Tutorial</h1>
<script>

  $(function() {
    // validate questions
    validator($("#utility1"));    
    validator($("#utility2"));
    validator($("#utility3"));
  
    // if not everything is answered correctly, disable the next button
    $("#next").click(function(event) {
      if (!isEverythingValid()) {
        event.preventDefault();
      }
    });
  });

  var validator = function(elem) {
    elem.children("button").click(function() {
      var input = elem.children("input").val();
      var correct = elem.children(":hidden").val();
      var response = isValid(input, correct);
      if (response === true) {
        elem.attr('class', 'control-group success');
        elem.children("span").text("You've got it!");
      } else if (response === false) {
        elem.attr('class', 'control-group error');
        elem.children("span").text("You are incorrect, please try again.");
      }
    });
  }

  var isValid = function(input, correct) {
    return (input === correct);
  }

  var isEverythingValid = function() {
    var questions = $("div").filter(function() { return this.id.match("utility"); });
    var answers = $.makeArray(questions.map(function(){
      var input = $(this).children("input").val();
      var correct = $(this).children(":hidden").val();
      return isValid(input, correct) === true;
    }));
    return answers.reduce(function(x,y){ return x && y; });
  }
</script>

<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<div class="container">
<P>
	This tutorial will guide you through interpreting the statements that will be given in the
	experiment. You will not be able to move forward until you plug in the correct answers in 
	the fields. You can check your answers by clicking the "Check" button next to the problem. 
	If the answer is correct, the text field will appear green and you will be greeted with a 
	message that reads "You've got it!". If it is incorrect, the text field will appear red 
	and a message will appear saying "You are incorrect, please try again."
<P>
	You will learn how to calculate the value, or utility, of single goods in this tutorial. 
	Here are the instructions that will be given to you in the experiment.
<ol>
	<li>You will be faced with a decision to purchase a bundle of arbitrary goods
	x<sub>1</sub>, x<sub>2</sub> x<sub>3</sub> denoted as Good 1, Good 2, and Good 3.
	</li>
<br>
	<li>Each good has a utility value based on <i>two times</i> the subscript
	of the good. (ie. Good 1 (x<sub>1</sub>) has utility value 2, Good 2 (x<sub>2</sub>) has
	utility value 4, Good <i>i</i> (x<sub>i</sub> has utility value 2 times i...) 
	Utility value is just an arbitrary preference scale over the set of 
	goods. The value will come into play for calculating your final payment.
	</li>
</ol>
<br>

<P>
	Based on these intructions, enter the correct field into the box below.
<P>
	<b>How much do you value good 1 based on the instructions?</b>
<P>
<div class="well">
  <label>Utility of Good 1</label>
  <div id="utility1" class="question">
    <input type="text" class="span3" placeholder="What is it's value?…" />
    <input type="hidden" value="2" />
    <button class="btn btn-primary">Check</button>
    <span class="help-block"></span>
  </div>
</div>
<P>
	<b>How much do you value good 3 based on the instructions?</b>
<div class="well">
  <label>Utility of Good 3</label>
  <div id="utility2" class="question">
  	<input type="text" class="span3" placeholder="What is it's value?…" />
    <input type="hidden" value="6" />
    <button class="btn btn-primary">Check</button>
    <span class="help-block"></span>
  </div>
</div>
<P>
	<b>How much do you value good 100, given there were 100 goods,
	 based on the instructions?</b>
<div class="well">
  <label>Utility of Good 100</label>
  <div id="utility3" class="question">
    <input type="text" class="span3" placeholder="What is it's value?…" />
    <input type="hidden" value="200" />
    <button class="btn btn-primary">Check</button>
    <span class="help-block"></span>
  </div>
</div>
</div>
</div>
<%= button_to 'Next', instructions1_path, :class => 'btn btn-primary', :id => 'next', :method => 'get' %>
