<h1>Tutorial</h1>

<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<DIV style="position: absolute; top:125px; left:110px; width:550px; height:50px">
 <DIV class="mypars">

<P>
	This final tutorial will show you how to calculate your final value of purchasing goods 
	in a bundle.
<P>
	Here are the instructions that will be given.
<P>
	<ol>
		<li>
			You will be faced with a decision to purchase a bundle of arbitrary goods
			x<sub>1</sub>, x<sub>2</sub> x<sub>3</sub> denoted as Good 1, Good 2, and Good 3.
		</li>
<br>
		<li>
			Each good has a utility value associated with each good based on <i>two times</i> the subscript
			of the good. (ie. Good 1 (x<sub>1</sub>) has utility value 2, Good 2 (x<sub>2</sub>) has
			utility value 4, Good <i>i</i> (x<sub>i</sub> has utility value 2 times i...) 
			Utility value is just an arbitrary preference scale over the set of 
			goods. The value will come into play for calculating your final payment.
		</li>
<br>
		<li> 
			Purchasing goods together will have substitute and complement effects however. 
			It will be stated as follows for goods x<sub>i</sub>, x<sub>j</sub> ; i &ne; j with substitute complement
			effect &lambda;<sub>i,j</sub>,
<br>
<br>
			<i>"Purchasing goods x<sub>i</sub> and x<sub>j</sub> in an exclusive bundle
			makes you value the bundle '&lambda;<sub>i,j</sub>' as much as if you summed the individual
			utilities."</i>
<br>
<br>
		<li>
			For a concrete example, the statement for bundle with goods one and two
			would be as follows:
		</li>
<br>
			<i>"Purchasing goods one and two in an exclusive bundle makes you value the bundle three quarter 
			times as much as if you summed the individual utilities."</i> 
<br>
<br>
		<li>
			There will be a menu of prices offered for each good. The prices are arranged
			randomly.
		</li>
<br>
		<li>
			The total utility from the transaction is the utility gained from purchasing
			the goods you have chosen minus their posted prices. <B>THE FINAL VALUE YOU CALCULATE 
			IS THE MONETARY REWARD YOU RECEIVE FOR THIS ROUND.</B>
		</li>
<br>
		<li>
			Your monetary reward is based on the total utility from your final choice.
		</li>
</ol>

<P>
	Based on these instructions, calculate the monetary reward you would receive for the following
	bundle.
<P>
	<b>How much money would you receive if you purchased Goods 1 and 2 together in an exclusive bundle, 
	given that Good 1 costs 2 dollars and Good 2 costs 1 dollar?</b>
<P>
	You value Goods 1 and 2 in the following way.
<P>
	<b>"Purchasing goods one and two in an exclusive bundle makes you <i>value the bundle three quarter 
		times as much</i> as if you <i>summed the individual utilities</i>.</b>
<P>
<form class="well form-inline">
	<span style="display:inline-block">
    	<label for=foo style="display:block">Substitute/Complement Effect</label>
    		<input type="text" class="input-small" placeholder="Lambda Value">
    </span> 
    <span style="display:inline-block">
    	<label for=foo style="display:block">Mathematical Operator</label>
			<select class="input-medium">
  				<option>+</option>
  				<option>-</option>
  				<option>/</option>
  				<option>*</option>
			</select>	
	</span>
	(
	<span style="display:inline-block">
    	<label for=foo style="display:block">Utility of Good 1</label>
    		<input type="text" class="input-small" placeholder="Good 1">
    </span> 
    <span style="display:inline-block">
    	<label for=foo style="display:block">Mathematical Operator</label>
			<select class="input-medium">
  				<option>+</option>
  				<option>-</option>
  				<option>/</option>
  				<option>*</option>
			</select>	
	</span> 
	<span style="display:inline-block">
    	<label for=foo style="display:block">Utility of Good 2</label>
  			<input type="text" class="input-small" placeholder="Good 2"> 
  	</span>
  	)
  	-
  	(
  	<span style="display:inline-block">
    	<label for=foo style="display:block">Price of Good 1</label>
  			<input type="text" class="input-small" placeholder="Good 2"> 
  	</span>
  	<span style="display:inline-block">
    	<label for=foo style="display:block">Mathematical Operator</label>
			<select class="input-medium">
  				<option>+</option>
  				<option>-</option>
  				<option>/</option>
  				<option>*</option>
			</select>	
	</span> 
	<span style="display:inline-block">
    	<label for=foo style="display:block">Price of Good 2</label>
  			<input type="text" class="input-small" placeholder="Good 2"> 
  	</span>
  	)
  	=
	<span style="display:inline-block">
    	<label for=foo style="display:block">Final Utility of Goods 1 and 2</label>
    		<input type="text" class="input-small" placeholder="Good 1 and 3">
    </span> 
    <button type="submit" class="btn">Submit</button>
	</form>	
	
	
</div>

<%= link_to 'Next', instructions3_path, :class => 'btn btn-primary' %>