<h1>Tutorial</h1>
<script>

  $(function() {
    // validate questions
    validator($("#utility1"), "2");    
    validator($("#utility2"), "6");
    validator($("#utility3"), "200");
  
    // if not everything is answered correctly, disable the next button
    $("#next").click(function(event) {
      if (!isValid()) {
        event.preventDefault();
      }
    });
  });

  var validator = function(elem, correct) {
    elem.children("input").blur(function() {
      var input = elem.children("input").val();
      if (input !== "" && input !== correct) {
        elem.attr('class', 'control-group error');
        elem.children("span").text("You are incorrect, please try again.");
      } else if (input === correct) {
        elem.attr('class', 'control-group success');
        elem.children("span").text("You've got it!");
      }
    });
  }

  var isValid = function() {
    var questions = $("div").filter(function() { return this.id.match("utility"); });
    var answers = $.makeArray(questions.map(function(){ return $(this).attr('class') === 'control-group success'; }));
    if (answers.reduce(function(x,y){ return x && y; })) {
      return true;
    } else {
      return false;
    }
  }
</script>
<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<DIV style="position: absolute; top:125px; left:110px; width:550px; height:50px">
 <DIV class="mypars">
<P>
	This tutorial will guide you through interpreting the statements that will be given in the
	experiment. You will not be able to move forward until you plug in the correct answers in 
	the fields.
<P>
	You will learn how to calculate the value, or utility, of single goods in this tutorial. 
	Here are the instructions that will be given to you in the experiment.
<ol>
	<li>You will be faced with a decision to purchase a bundle of arbitrary goods
	x<sub>1</sub>, x<sub>2</sub> x<sub>3</sub> denoted as Good 1, Good 2, and Good 3.
	</li>
<br>
	<li>Each good has a utility value associated with each good based on <i>two times</i> the subscript
	of the good. (ie. Good 1 (x<sub>1</sub>) has utility value 2, Good 2 (x<sub>2</sub>) has
	utility value 4, Good <i>i</i> (x<sub>i</sub> has utility value 2 times i...) 
	Utility value is just an arbitrary preference scale over the set of 
	goods. The value will come into play for calculating your final payment.
	</li>
</ol>
<br>

<P>
	Based on these intructions, enter the correct field into the box below.
<P>
	<b>How much do you value good 1 based on the instructions?</b>
<P>
<div class="well">
  <label>Utility of Good 1</label>
  <div id="utility1" class="question">
    <input type="text" class="span3" placeholder="What is it's value?…">
    <span class="help-inline"></span>
  </div>
</div>
<P>
	<b>How much do you value good 3 based on the instructions?</b>
<div class="well">
  <label>Utility of Good 3</label>
  <div id="utility2" class="question">
  	<input type="text" class="span3" placeholder="What is it's value?…">
    <span class="help-inline"></span>
  </div>
</div>
<P>
	<b>How much do you value good 100, given there were 100 goods,
	 based on the instructions?</b>
<div class="well">
  <label>Utility of Good 100</label>
  <div id="utility3" class="question">
    <input type="text" class="span3" placeholder="What is it's value?…">
    <span class="help-inline"></span>
  </div>
</div>
</div>
<%= button_to 'Next', instructions1_path, :class => 'btn btn-primary', :id => 'next', :method => 'get' %>
