<h1>Tutorial</h1>

<script>


  $(function() {
    validator($("#problem1"));
    
    $("#next").click(function(event) {
      if (!isEverythingValid()) {
        event.preventDefault();
      }
    });
  });

  var validator = function(elem) {
  
    elem.children("button").click(function() {
        
      var success = 'control-group success';
      var error = 'control-group error';
      var everythingCorrect = true;

      elem.children(".question").each(function() {

        if (isValid($(this))) {
          if ($(this).attr('class').search(success) === -1) {
            $(this).removeClass(error);
            $(this).addClass(success);
          }
        } else {
          if ($(this).attr('class').search(error) === -1) {
            $(this).removeClass(success);
            $(this).addClass(error);
          }
          everythingCorrect = false;
        }
      });

      if (everythingCorrect) {
        elem.removeClass(error);
        elem.addClass(success);
        elem.children(".feedback").text("You've got it!");
      } else {
        elem.removeClass(success);
        elem.addClass(error);
        elem.children(".feedback").text("You are incorrect, please try again.");
      }

    });
  
  }

  var isValid = function(elem) {
    return elem.children(".response").val() === elem.children(":hidden").val();
  }

  var isEverythingValid = function() {
    var problems = $("div").filter(function() { return this.id.match("problem"); });
    
    var areQuestionsForEveryProblemCorrect = problems.map(function() {
      
      var areQuestionsForProblemCorrect = $(this).children(".question").map(function() {
        return isValid($(this));  
      });

      var booleanArray = $.makeArray(areQuestionsForProblemCorrect);
      return booleanArray.reduce(function(x,y) { return x && y; });
       
    });

    var booleanArray = $.makeArray(areQuestionsForEveryProblemCorrect);
    return booleanArray.reduce(function(x,y) { return x && y; });

  }

</script>

<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<div class="container">
 <DIV class="mypars">

<P>
	This final tutorial will show you how to calculate your final value of purchasing goods 
	in a bundle. You can check your answers by clicking the "Check" button next to the problem. 
	If the answer is correct, the text field will appear green and you will be greeted with a 
	message that reads "You've got it!". If it is incorrect, the text field will appear red 
	and a message will appear saying "You are incorrect, please try again."
<P>
	Here are the instructions that will be given.
<P>
	<ol>
		<li>
			You will be faced with a decision to purchase a bundle of arbitrary goods
			x<sub>1</sub>, x<sub>2</sub> x<sub>3</sub> denoted as Good 1, Good 2, and Good 3.
		</li>
<br>
		<li>
			Each good has a utility value associated with each good based on <i>two times</i> the subscript
			of the good. (ie. Good 1 (x<sub>1</sub>) has utility value 2, Good 2 (x<sub>2</sub>) has
			utility value 4, Good <i>i</i> (x<sub>i</sub> has utility value 2 times i...) 
			Utility value is just an arbitrary preference scale over the set of 
			goods. The value will come into play for calculating your final payment.
		</li>
<br>
		<li> 
			Purchasing goods together will have substitute and complement effects however. 
			It will be stated as follows for goods x<sub>i</sub>, x<sub>j</sub> ; i &ne; j with substitute complement
			effect &lambda;<sub>i,j</sub>,
<br>
<br>
			<i>"Purchasing goods x<sub>i</sub> and x<sub>j</sub> in an exclusive bundle
			makes you value the bundle '&lambda;<sub>i,j</sub>' as much as if you summed the individual
			utilities."</i>
<br>
<br>
		<li>
			For a concrete example, the statement for bundle with goods one and two
			would be as follows:
		</li>
<br>
			<i>"Purchasing goods one and two in an exclusive bundle makes you value the bundle three quarter 
			times as much as if you summed the individual utilities."</i> 
<br>
<br>
		<li>
			There will be a menu of prices offered for each good. The prices are arranged
			randomly.
		</li>
<br>
		<li>
			The total utility from the transaction is the utility gained from purchasing
			the goods you have chosen minus their posted prices. <B>THE FINAL VALUE YOU CALCULATE 
			IS THE MONETARY REWARD YOU RECEIVE FOR THIS ROUND.</B>
		</li>
<br>
		<li>
			Your monetary reward is based on the total utility from your final choice.
		</li>
</ol>

<P>
	Based on these instructions, calculate the monetary reward you would receive for the following
	bundle.
<P>
	<b>How much money would you receive if you purchased Goods 1 and 2 together in an exclusive bundle, 
	given that Good 1 costs 2 dollars and Good 2 costs 1 dollar?</b>
<P>
	You value Goods 1 and 2 in the following way.
<P>
	<b>"Purchasing goods one and two in an exclusive bundle makes you <i>value the bundle three quarter 
		times as much</i> as if you <i>summed the individual utilities</i>.</b>
<P>
<div class="well" id="problem1">
	<span style="display:inline-block" class="question">
    	<label>Substitute/Complement Effect</label>
    	<input type="text" class="san2 response" placeholder="Lambda Value">
    	<input type="hidden" value=".75" />
    </span> 
    
    <span style="display:inline-block" class="question">
    <label style="display:block">Operator</label>
		<select class="input-small response">
		  <option> </option>
  	  <option>+</option>
  	  <option>-</option>
  	  <option>/</option>
  	  <option>*</option>
    </select>
    <input type="hidden" value="*" />
  </span>
	(
	
	<span style="display:inline-block" class="question">
    <label>Good 1's Utility</label>
    <input type="text" class="span2 response" placeholder="What is it's value?…" />
    <input type="hidden" value="2" />
  	</span>
  
    <span style="display:inline-block" class="question">
    <label style="display:block">Operator</label>
		<select class="input-small response">
		  <option> </option>
  	  <option>+</option>
  	  <option>-</option>
  	  <option>/</option>
  	  <option>*</option>
    </select>
    <input type="hidden" value="+" />
  	</span>
  
	<span style="display:inline-block" class="question">
    <label>Good 2's Utility</label>
    <input type="text" class="span2 response" placeholder="What is it's value?…" />
    <input type="hidden" value="4" />
  </span>
  	)
  	-
  	(
	<span style="display:inline-block" class="question">
    	<label>Price of Good 1</label>
  			<input type="text" class="span2 response" placeholder="Good 1 Price"> 
  			<input type="hidden" value="2" />
  	</span>
  	
  	<span style="display:inline-block" class="question">
    <label style="display:block">Operator</label>
		<select class="input-small response">
		  <option> </option>
  	  <option>+</option>
  	  <option>-</option>
  	  <option>/</option>
  	  <option>*</option>
    </select>
    <input type="hidden" value="+" />
  	</span>
  		
	<span style="display:inline-block" class="question">
    	<label>Price of Good 2</label>
  			<input type="text" class="span2 response" placeholder="Good 1 Price"> 
  			<input type="hidden" value="1" />
  	</span>
  	)
  	=
	<span style="display:inline-block" class="question">
    <label>Goods 1 and 2's Utility</label>
    <input type="text" class="span2 response" placeholder="What is it's value?…" />
    <input type="hidden" value="1.5" />
 	 </span>
  <span class="help-block feedback"></span>
  <button class="btn btn-primary">Check</button>
</div>	

<%= button_to 'Next', instructions3_path, :class => 'btn btn-primary', :id => 'next', :method => 'get' %>