<h1>Tutorial</h1>

<script>

  $(function() {
    // validate questions
    validator($("#utility1"));    
    validator($("#math1"));    
    validator($("#utility2"));
    validator($("#utility_sol1"));
    validator($("#utility15"));
    validator($("#utility35"));
    validator($("#utility_sol2"));
  
    // if not everything is answered correctly, disable the next button
    $("#next").click(function(event) {
      if (!isEverythingValid()) {
        event.preventDefault();
      }
    });
  });

  var validator = function(elem) {
    elem.children("input").blur(function() {
      var input = elem.children("input").val();
      var correct = elem.children(":hidden").val();
      var response = isValid(input, correct);
      if (response === true) {
        elem.attr('class', 'control-group success');
        elem.children("span").text("You've got it!");
      } else if (response === false) {
        elem.attr('class', 'control-group error');
        elem.children("span").text("You are incorrect, please try again.");
      }
    });
  }

  var isValid = function(input, correct) {
    if (input !== "" && input !== correct) {
      return false;
    } else if (input === correct) {
      return true;
    } else {
      return null;
    }
  }

  var isEverythingValid = function() {
    var questions = $("div").filter(function() { return this.id.match("utility"); });
    var answers = $.makeArray(questions.map(function(){
      var input = $(this).children("input").val();
      var correct = $(this).children(":hidden").val();
      return isValid(input, correct) === true;
    }));
    if (answers.reduce(function(x,y){ return x && y; })) {
      return true;
    } else {
      return false;
    }
  }
</script>

<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<DIV style="position: absolute; top:125px; left:110px; width:650px; height:50px">
 <DIV class="mypars">
<P>
	You will know be guided in how to interpret statements. Here are the instructions for 
	how to evaluate utilites of more than one good together.
<ol>
	<li>You will be faced with a decision to purchase a bundle of arbitrary goods
	x<sub>1</sub>, x<sub>2</sub> x<sub>3</sub> denoted as Good 1, Good 2, and Good 3.
	</li>
<br>
	<li>Each good has a utility value associated with each good based on <i>two times</i> the subscript
	of the good. (ie. Good 1 (x<sub>1</sub>) has utility value 2, Good 2 (x<sub>2</sub>) has
	utility value 4, Good <i>i</i> (x<sub>i</sub> has utility value 2 times i...) 
	Utility value is just an arbitrary preference scale over the set of 
	goods. The value will come into play for calculating your final payment.
	</li>
</ol>
<P>
	Given the instructions, answer the following questions. Pay attention to the italicized 
	instructions as they are important for interpreting the more complex statements that are 
	to follow.
<P>
<P> 
	Statements are independent of all previous viewed statements. For example, a statement 
	containing good 1 and good 2 <b>DOES NOT</b> affect a statement containing good 1, 
	good 2, and good 3. 
<P>	
	<b>You are purchasing goods one and two. <i>Sum up their individual utilities</i></b>
<P>

<div class="well form-inline" id="question1">
<span style="display:inline-block">
  <label>Utility of Good 1</label>
  <div id="utility1">
    <input type="text" class="span2" placeholder="What is it's value?…">
    <input type="hidden" value="2" />
  </div>
</span>

<span style="display:inline-block">
<label for=foo style="display:block">Mathematical Operator</label>
	<div id="math1" class="question"?>
		<select class="input-small">
			<option> </option>
  			<option>+</option>
  			<option>-</option>
  			<option>/</option>
  			<option>*</option>
  		<input type="hidden" option="+" />
  		</select>
  	</div>
</span>

<span style="display:inline-block">
  <label>Utility of Good 2</label>
  <div id="utility2" class="question">
    <input type="text" class="span2" placeholder="What is it's value?…">
    <input type="hidden" value="4" />
  </div>
</span>
=
<span style="display:inline-block">
  <label>Utility of Goods 1 and 2</label>
  <div id="utility_sol1" class="question">
    <input type="text" class="span2" placeholder="What is it's value?…">
    <input type="hidden" value="6" />
  </div>
</span>
</span>	
</div>

<P>
	<b>Given that goods 15 and 35 exist, <i>sum up their individual utilities</i></b>
<P>
	<div class="well form-inline">
<span style="display:inline-block">
  <label>Utility of Good 15</label>
  <div id="utility15" class="question">
    <input type="text" class="span2" placeholder="What is it's value?…">
    <input type="hidden" value="30" />
    <span class="help-block"></span>
  </div>
</span>

<span style="display:inline-block">
<label for=foo style="display:block">Mathematical Operator</label>
		<select class="input-small">
			<option> </option>
  			<option>+</option>
  			<option>-</option>
  			<option>/</option>
  			<option>*</option>
  		</select>
  		<span class="help-block"></span>
</span>

<span style="display:inline-block">
  <label>Utility of Good 35</label>
  <div id="utility35" class="question">
    <input type="text" class="span2" placeholder="What is it's value?…">
    <input type="hidden" value="70" />
    <span class="help-block"></span>
  </div>
</span>
=
<span style="display:inline-block">
  <label>Utility of Goods 15 and 35</label>
  <div id="utility_sol2" class="question">
    <input type="text" class="span2" placeholder="What is it's value?…">
    <input type="hidden" value="100" />
    <span class="help-block"></span>
  </div>
</span>
</span>	
</div>

</div>
<%= button_to 'Next', demo3_path, :class => 'btn btn-primary', :id => 'next', :method => 'get' %>
