<h1>Tutorial</h1>

<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<DIV style="position: absolute; top:125px; left:110px; width:550px; height:50px">
 <DIV class="mypars">

<P>
	This tutorial will guide you in interpreting the full statements given in the experiment.
<P>
	Here will be the full instructions in calculating statements.
<ol>
	<li>
		You will be faced with a decision to purchase a bundle of arbitrary goods
		x<sub>1</sub>, x<sub>2</sub>, x<sub>3</sub>, x<sub>4</sub> denoted as Good 1, Good 2, 
		Good 3, and Good 4.</li>
<br>
	<li>Each good has a utility value associated with each good based on the subscript
	of the good. (ie. Good 1 (x<sub>1</sub>) has utility value 1, Good 2 (x<sub>2</sub>) has
	utility value 2...) Utility value is just an arbitrary preference scale over the set of 
	goods. The value will come into play for calculating your final payment.</li>
<br>
	<li> Purchasing goods together will have substitute and complement effects however. 
	It will be stated as follows for goods x<sub>i</sub>, x<sub>j</sub> ; i &ne; j with substitute complement
	effect &lambda;<sub>i,j</sub>,
<br>
<br>
		<i>"Purchasing goods x<sub>i</sub> and x<sub>j</sub> in an exclusive bundle
		makes you value the bundle '&lambda;<sub>i,j</sub>' as much as if you summed the individual
		utilities."</i>
<br>
<br>
	<li>For a concrete example, the statement for bundle with goods one and two
	would be as follows:</li>
<br>
		<i>"Purchasing goods one and two in an exclusive bundle makes you value the bundle three quarter 
		times as much as if you summed the individual utilities."</i> <br>
</ol>
<P>
	Given these instructions, answer the following question. The important details are italicized.
<P>
	<b>"Purchasing goods one and two in an exclusive bundle makes you <i>value the bundle three quarter 
		times as much</i> as if you <i>summed the individual utilities</i>.
<P>
	<form>
	<span style="display:inline-block">
    	<label for=foo style="display:block">Substitute/Complement Effect</label>
    	<input type=text name=foo id=foo size="3"/>
	</span> 
	</form>
	
	<form>
	<span style="display:inline-block">
    	<label for=foo style="display:block">Mathematical Operator</label>
			<select>
  				<option>+</option>
  				<option>-</option>
  				<option>/</option>
  				<option>*</option>
			</select>	
	</span> 
	</form>
	
	[<form>
	<span style="display:inline-block">
    	<label for=foo style="display:block">Utility of Good 1</label>
    	<input type=text name=foo id=foo size="3"/>
	</span> 
	</form>
	
	<form>
	<span style="display:inline-block">
    	<label for=foo style="display:block">Mathematical Operator</label>
			<select>
  				<option>+</option>
  				<option>-</option>
  				<option>/</option>
  				<option>*</option>
			</select>	
	</span> 
	</form>
	<form>
	<span style="display:inline-block">
    	<label for=foo style="display:block">Utility of Good 3</label>
    	<input type=text name=foo id=foo size="3"/>
	</span> 
	</form>]
	=
<br>
	<form>
	<span style="display:inline-block">
    	<label for=foo style="display:block">Utility of goods 1 and 2</label>
    	<input type=text name=foo id=foo size="3"/>
	</span> 
	</form>		
		
</div>
<P>
<%= link_to 'Next', demo4_path, :class => 'btn btn-primary' %>