<% content_for :header do %>
	<h1>Instructions</h1>
<% end %>

<% content_for :content do %>

  <p>Alongside the single component menu, you will be offered a "Combo Package" containing 
  all the goods. The Combo Package will be valued higher than purchasing all the goods separately.
  Here is a an example of the Value Menu you will be offered.</p>
  <div><%= image_tag("utility.png")%></div>
  <p>As shown above, the Combo Package will be valued +1 more than if you summed the individual values.</p>
 
<%= link_to 'Next', instructions3_path, :class => 'btn btn-primary' %>

<% end %>