<% content_for :header do %>
  <h1>Instructions</h1>
<% end %>

<% content_for :content do %>
  <p>
    If you purchase more than one good from a menu, we will call this a “bundle” of
goods. The total value of a given bundle is determined by adding up the values of the
purchased goods and then adding or subtracting any “bundle effects."
  </p>
  <p>
    The "Bundle Effect" will be located in statement links which you can open and close 
    as shown below:
  </p>
  <p>
    Here is an example of a statement link:
    <div><%= image_tag("'show' statement.png")%></div>
  </p>
  <p>
    Here is an example of an open statement:
    <div><%= image_tag("open 'show' statement.png")%></div>
  </p>
  <p>
    In the example above, the 
    bundle effect for a bundle with goods 1 and 4 is <b>"-2."</b> This means that if you purchased goods 1 and 4, then the value of that bundle
would be the value of the good 1 plus the value of good 4 minus 2.
  </p>
  <p>The bundle effect for each bundle is equally likely to be any dollar value between -4
and 4. A positive bundle effect will have a positive sign preceding it. For example, if
the statement says that the bundle effect is “+1” then the bundle effect adds 1.</p>
  <p>
    Next to the statement links are the goods associated with that certain bundle. In the image above,
    that statement contains goods 1 and 4. If the statement contained goods 1, 3, and 4, the corresponding 
    group next to the statement would be "[1,3,4]".
  </p>
  <p>
   You may only open one statement at a time, but you are free to open and close as
many statements as you would like before making a final choice. There is no penalty
for not opening all of the statements. However, bundle effects are applied even if the
statement corresponding to your choice is not opened.
  </p>
  <p>
  	It is important to understand how to calculate the values of bundles, as your
monetary payment at the end of the experiment depends on the value of your
choices.
  </p>
  <p>
  	The following tutorial will test if you fully understand how to calculate valuations given 
  	the statements and values of a given bundle. You will not be able to move forward unless 
  	you plug in the correct values.  
  </p>
 
  <%= link_to 'Next', demo4_path, :class => 'btn btn-info pull-right' %>
<% end %>