<% content_for :header do %>
	<h1>Instructions</h1>
<% end %>

<% content_for :content do %>

  <p>To select an option, click on the box next to it. Clicking once will select the option,
and clicking on it again will deselect the option. Here is an example of a good that
has been selected with the button checked: </p>
  <div><%= image_tag("checked.png")%></div>
  <p>Here is an example of a good that has either been de-selected or never selected:</p>
  <div> <%= image_tag("unchecked.png")%></div>
  <p>
  	In the menus you will be offered, single goods will be located on the left hand side in a "Choice Menu," and the
  	"Combo Package" will be offered on the right hand side, as shown below.</p>
  <div><%= image_tag("choicemenu.png")%></div>
  <p>
	Recall that you can purchase any number of goods (including zero goods) from the
Choice Menu. Also, if you choose the Combo Package, it will be as if you purchased
all of the goods in the Choice Menu – with a bonus of +1.</p>
  
<%= link_to 'Next', instructions4_path, :class => 'btn btn-primary' %>

<% end %>