<h1>Instructions</h1>

<br />
<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<div class="container">
 <DIV class="mypars">
  <P> In order to calculate total values of given bundles, you will need two elements: 
  <b>value of single goods</b> <i>and</i> the <b>Bundle Effect</b> for joint purchases.
  <P>The value for single goods will be located in the Value Menu  
   on the screen. We will call value as utility interchangeably. Here is an example of a Value Menu.
     <P>
  <%= image_tag("utility.png")%>
  <P>The value of single goods will be a number equally distributed between 0 and 2 for each experiment. The 
  	value of single goods will be randomly generated and uniformly distributed between the range for each experiment.
  <P>
  You will learn how to calculate valuations for bundles in the next screen.
 </div>
 
 <%= link_to 'Next', instructions2_path, :class => 'btn btn-primary' %>