<% content_for :header do %>
<h1>Instructions</h1>
<% end %>

<% content_for :content do %>

  <p>The Experiment is divided into seven sections, with each experiment presenting a different menu and statements. 
  You will attempt two trials of each.
  There will be a three good practice round to see if you fully understand the problem that is facing you. 
  The problem will let you know if you have plugged in the correct values, and you are free to attempt it
  until the time is over. </p>
  <p>Below is a table of characteristics of each experiment type.</p>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>Type Number</th>
  			<th>Number of Goods</th>
  			<th>Time Limit</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Type 1</td>
  			<td>3</td>
  			<td>5 minutes</td>
  		</tr>
  		<tr>
  			<td>Type 2</td>
  			<td>4</td>
  			<td>5 minutes</td>
  		</tr>
  		<tr>
  			<td>Type 3</td>
  			<td>5</td>
  			<td>5 minutes</td>
  		</tr>
  		<tr>
  			<td>Type 4</td>
  			<td>3</td>
  			<td>Special Beta Timer</td>
  		</tr>
  		<tr>
  			<td>Type 5</td>
  			<td>4</td>
  			<td>Special Beta Timer</td>
  		</tr>
  		<tr>
  			<td>Type 6</td>
  			<td>5</td>
  			<td>Special Beta Timer</td>
  		</tr>
  	</tbody>
  </table>
  <p>The Experiment Types will be arranged in a random order. </p>
  <p>The choice you have selected when the timer runs out will be your final choice. </p>
  <p>You are free to use the whole alloted time, but you must wait the full five minutes before moving 
  onto the next experiment.</p>
  <p>Before each experiment, there will be instructions similar to the instructions given 
  in the tutorials. </p>
  <p><b>Experiment Types 4, 5, and 6 have special instructions before the experiment. READ THE INSTRUCTIONS BEFORE 
  ATTEMPTING.</b></p>
  <p>Your monetary reward depends directly on the choices you make. In addition to the flat show up fee, 
  you have the ability to either lose 4 dollars or make up to 18 dollars during each experiment. 
  Choices you make in the three good practice round will not be counted towards your final payment. A reward you have chosen from 
  Experiments 1 through 6 will be chosen at random to be your payment. It is in your best interest to perform each experiment to the best 
  of your ability as each experiment has a one in six chance of being picked as your monetary reward. </p>
<%= link_to 'Take the Demo', experiment_path, :class => 'btn btn-primary' %>
<% end %>
