<h1>Instructions</h1>

<br />
<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<DIV style="position: absolute; top:125px; left:110px; width:550px; height:50px">
 <DIV class="mypars">

  <P>
  	There are three main values that you must rely on to find your final valuation of 
  	bundles, the Multiple effect, Utility of single goods, and Prices of single 
  	goods or bundles. All of these values are important in figuring out the final valuation 
  	of bundles which will translate directly to your monetary reward 
  	of your choice.
  <P>
  	The substitute/complement effects can be found in the statements, while the utility of 
  	individual goods, which is globally fixed, is found in the instructions before each experiment 
  	and at the top of the experiment page for each experiment. The Prices can be 
  	found in the price menu of goods that are shown in each experiment.
  <P>
  	It is important to understand how to calculate these values correctly, as the final valuation 
  	of the bundle of your choosing will be the monetary reward you receive for the round.
  <P>
  	The following tutorial will test if you fully understand how to calculate valuations given 
  	the statements and prices of a given bundle. You will not be able to move forward unless 
  	you plug in the correct values.  
</div>

<%= link_to 'Next', demo4_path, :class => 'btn btn-primary' %>