<h1>Instructions</h1>

<br />
<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<DIV style="position: absolute; top:125px; left:110px; width:550px; height:50px">
 <DIV class="mypars">

  <P>
  	There are two main values that you must rely on to find your final valuation of 
  	bundles, the Bundle effect and value of goods. All of these values are important in figuring out the final valuation 
  	of bundles which will translate directly to your monetary reward 
  	of your choice.
  <P>
  	The substitute/complement effects can be found in the statements, while the value of 
  	individual goods is found at in the Value Menu at the top of the experiment page for each experiment.
  <P>
  	The Values of goods are equally distributed between a certain range. 
  <P>
  	Here is a concrete example for a four good situation.
  <P>
  	<ul>
  	<li> <i> Value of Good 1 = +3.</li>
  	<li> Value of Good 2 = +0.</li>
  	<li> Value of Good 3 = +1. </li>
  	<li> Value of Good 4 = +2. </li></i>
  	</ul>
  <P>
  So the average distribution of the four goods is "(3+0+1+2)/4 = 1.5".
  <P>
  Before each experiment, the given distribution will be stated.
  <P>
  	It is important to understand how to calculate these values correctly, as the final valuation 
  	of the bundle of your choosing will be the monetary reward you receive for the round.
  <P>
  	The following tutorial will test if you fully understand how to calculate valuations given 
  	the statements and values of a given bundle. You will not be able to move forward unless 
  	you plug in the correct values.  
</div>

<%= link_to 'Next', demo4_path, :class => 'btn btn-primary' %>