<% content_for :header do %>
  <h1>Instructions</h1>
<% end %>

<% content_for :content do %>
  <p>You are participating in an experiment that involves making choices from different "menus" of options.</p>
  <p>Your task is to choose any number of options, including zero options, from each menu. We will call each 
  option a "good," and if you choose the option, we will say you have "purchased" the good. </p>
  <p>Each good in the menu will be randomly assigned a dollar value that is equally likely to be either 0, 1, or 2.
  Here is an example of a menu of goods.</p>  
  <div>
    <%= image_tag("utilitynocombo.png")%>
  </div>
  <%=  link_to "Next", instructions1_path, :class => "btn btn-info pull-right" %>
<% end %>