<% content_for :header do %>
<h1>Instructions</h1>
<% end %>

<% content_for :content do %>

  <p>The experiment will start with a practice choice in which the Choice Menu contains
3 goods. The choice you make in this round will not affect your final payment. </p>
  <p>You will then make 12 choices from different menus, each with different individual
values and bundle effects. These 12 choices will be of 6 “types” (two choices of each
type). Below is a table of characteristics of each experiment type.</p>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>Type Number</th>
  			<th>Number of Goods</th>
  			<th>Time Limit</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Type 1</td>
  			<td>3</td>
  			<td>5 minutes</td>
  		</tr>
  		<tr>
  			<td>Type 2</td>
  			<td>4</td>
  			<td>5 minutes</td>
  		</tr>
  		<tr>
  			<td>Type 3</td>
  			<td>5</td>
  			<td>5 minutes</td>
  		</tr>
  		<tr>
  			<td>Type 4</td>
  			<td>3</td>
  			<td>Special Beta Timer</td>
  		</tr>
  		<tr>
  			<td>Type 5</td>
  			<td>4</td>
  			<td>Special Beta Timer</td>
  		</tr>
  		<tr>
  			<td>Type 6</td>
  			<td>5</td>
  			<td>Special Beta Timer</td>
  		</tr>
  	</tbody>
  </table>
  <p>You will face the experiment types in random order.</p>

<p>What you have selected when the timer runs out will be recorded as your choice.
In experiments 1, 2, and 3, the timer runs out after 5 minutes. In experiments 4, 5,
and 6, the timer runs out a random time, which will be described to you before those
experiments.</p>

<p>You are free to stop working at any point, but you must wait the full five minutes
before moving to the next choice. Before each choice, you will be presented with the
instructions again.</p>

<p>At the end of the experiment, one choice will be selected at random, and the value of
your choice in that round will be added or deducted from your final payment. It is in your best interest to perform each experiment to the best 
  of your ability as each experiment has a one in twelve chance of being picked as your monetary reward. </p>
  
  <p>In addition to the show up fee, you have the opportunity to potentially make up to fifteen dollars by making 
  good choices or lose up to four dollars. You will however make a minimum of ten dollars for completing the experiment. </p> 
<%= link_to 'Take the Demo', experiment_path, :class => 'btn btn-primary' %>
<% end %>
