<% content_for :header do %>
	<h1>Instructions</h1>
<% end %>

<% content_for :content do %>

  <p>Alongside the single component menu, you will be offered a "Combo Package" containing 
  all the goods. The value of the Combo Package is equal to the value of purchasing all
goods (including the corresponding bundle effect) plus a bonus of 1. Here is an
example of a complete menu:</p>
  <div><%= image_tag("utility.png")%></div>
 
<%= link_to 'Next', instructions3_path, :class => 'btn btn-primary' %>

<% end %>