<h1>Thanks!</h1>
<p>You've finished!</p>
<ol>Your answers:
<% Question.all.each do |question| %>
<li><%= "#{question.name}) You picked: #{chosen_answer(question.id)}" %></li>
<% end %>
</ol>
<p>Your score was: <%= @final_score %></p>
<%= link_to 'Again!', root_path, :class => 'btn btn-primary' %>
