<% if @question.demo? %>
Answer the following:<br />
How much total value will you get from the following choices?
<form id="demo_form">

  <% @question.each_bundle do |bundle| %>
  
  <div class="control-group">
    <label class="control-label"><%= bundle.size == 1 ? "Good" : "Goods" %> <%= bundle %></label>
    <div class="controls">
      <input type="text" data-answer="<%= @question.bundle bundle %>"></input>
      <span class="help-inline"></span>
    </div>
  </div>
    
    
  <% end %>
  <div class="control-group">
    <label class="control-label">All Inclusive Combo Package</label>
    <div class="controls">
      <input type="text" data-answer="<%= @question.combo_witheffect %>"></input>
      <span class="help-inline"></span>
    </div>
  </div>
  

</form>
<% end %>
