<% unless Rails.env.production? %>
<h1>Solutions</h1>
<ul>
  <% combinations = 1.upto(@question.goods.size)
                    .flat_map { |n| @question.goods.keys.map(&:to_i).combination(n).to_a } %>
  <% combinations.each do |combo| %>
  <li>Goods <%= combo %>, Total Value: <%= @question.bundle combo %></li>
  <% end %>
  <li>Combo, Total Value: <%= @question.combo_witheffect %>
</ul>
The best answer: <%= @question.optimal_value %>
<% end %>