<% content_for :header do %>
  <h1><%= @question.name %> Instructions</h1>
<% end %>

<% content_for :content do %>
  <%= @question.instructions.html_safe if @question.instructions.present? %>
  <%= link_to 'Start experiment', experiment_path, class: 'btn btn-info pull-right' %>
<% end %>
