<% content_for :header do %>
  <h1>Waiting for next experiment</h1>
<% end %>

<% content_for :content do %>
  <h3>Time left: <%= timer seconds: @question.previous_question.time_remaining %></h3>
  <%= link_to 'continue', instructions_experiment_path, class: 'continue btn btn-info pull-right' %>


  <script>
  $(function() {
    BundledGoods.wait.init({ expired: <%= @question.expired? %> });
  });
  </script>
<% end %>