<div class="container header">
  <h1>Waiting for next experiment</h1>
</div>

<div class="container content">
  <h3>Time left: <%= timer seconds: @question.previous_question.time_remaining %></h3>
  <%= link_to 'continue', instructions_experiment_path, class: 'continue btn btn-info pull-right' %>
</div>

<script>
$(function() {
  BundledGoods.wait.init({ expired: <%= @question.expired? %> });
});
</script>