<% content_for :content do %>
<div><%= link_to 'Median Average Time between Statement Clicks', statistics_median_path(:statement_clicks)%> </div>
<div><%= link_to 'Median Average Time Spent Per Question', statistics_median_path(:total_time)%> </div>
<% end %>