<h1>Editing Survey</h1>

<%= render 'form' %>

<h2>Questions</h2>
<%= render :partial => 'admin/questions', :object => @survey.questions %>

<%= link_to 'New Question', new_survey_question_path(@survey), :class => 'btn btn-primary' %> 
<div style="padding-top: 40px">
<%= link_to 'Back', surveys_path %>
</div>
