<h1><%= @survey.name %></h1>
<% if !@survey.instructions.blank? %>
<div style="padding-top: 40px;">
  <h3>Instructions: </h3>
  <p><%= @survey.instructions %></p>
</div>
<% end %>


<div class="row" style="padding-top: 40px;">
  <div class="span1">
  <%= link_to '<<Back', surveys_path %>
  </div>
  <%= link_to('Next>>', survey_question_path(@survey, @survey.first_question), :class => "offset1") if !@survey.questions.empty? %>
</div>