.choices {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: rgb(238,238,238);
  border-radius: 6px 6px 6px 6px;
  text-align: center;
  position:fixed;
  top:75px;
  right:50px;
}

.choices button {
  margin-top:30px;
}

.choices h2 {
  display:inline-block;
}