// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$width: 800px;
.modal { 
  width: 800px;
  margin-left: -($width/2);
}

div.floating-menu {
  position: fixed;
}

div.floating-menu a, div.floating-menu h3 {
  display: block;
  margin: 0 0.5em;
}
